In [40]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
data= pd.read_excel('V02Max_Combined.xlsx')

In [26]:
data.head()

   ID     time     RR       VO2  power
0  11 -168.600  727.0  0.287147      0
1  11 -167.872  728.0  0.287147      0
2  11 -167.148  724.0  0.287147      0
3  11 -166.484  664.0  0.320580      0
4  11 -165.836  648.0  0.320580      0

In [49]:
# importing excel data
xls = 'V02Max_Combined.xlsx'

In [64]:
#importing each sheets in to seperate data frame
data_Kayaking = pd.read_excel(xls,sheet_name = 'Kayaking')
data_Kayaking = pd.read_excel(xls,sheet_name = 'Kayaking')
data_Athletes = pd.read_excel(xls, sheet_name = 'Athletes')
data_Triathlon = pd.read_excel(xls,sheet_name =  'Triathlon')
data_Fencing = pd.read_excel(xls,sheet_name =  'Fencing')

C:\Users\Phgan\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\Phgan\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\Phgan\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [91]:
data_Kayaking

       ID      time     RR       VO2  power
0      11  -168.600  727.0  0.287147      0
1      11  -167.872  728.0  0.287147      0
2      11  -167.148  724.0  0.287147      0
3      11  -166.484  664.0  0.320580      0
4      11  -165.836  648.0  0.320580      0
...    ..       ...    ...       ...    ...
19473  16  1118.404  548.0  0.671957      0
19474  16  1118.944  540.0  0.671957      0
19475  16  1119.484  540.0  0.671957      0
19476  16  1120.016  532.0  0.671957      0
19477  16  1120.544  528.0  0.671957      0

[19478 rows x 5 columns]

In [53]:
data_Athletes.head()

,ID,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,Last Name
0,1,15,53.7,161,50,140,fencing,Female,African,Olivia,Martinez
1,2,15,56.2,162,80,127,fencing,Male,African,Ethan,Reynolds
2,3,16,89.9,191,155,300,fencing,Male,White,Jackson,Harper
3,4,16,76.5,180,215,275,fencing,Male,White,Liam,Sanchez
4,5,17,76.4,186,110,172,fencing,Female,White,Ava,Thompson

In [83]:
data_Triathlon

      ID     time     RR       VO2  power
0     17 -182.408  736.0  0.363762      0
1     17 -181.672  736.0  0.363762      0
2     17 -180.968  704.0  0.363762      0
3     17 -180.268  700.0  0.363762      0
4     17 -179.616  652.0  0.363762      0
...   ..      ...    ...       ...    ...
4976  18  947.288  536.0  0.507071      0
4977  18  947.816  528.0  0.507071      0
4978  18  948.344  528.0  0.507071      0
4979  18  948.884  540.0  0.507071      0
4980  18  949.424  540.0  0.507071      0

[4981 rows x 5 columns]

In [85]:
# Check for duplicate rows
data_Kayaking[data_Kayaking.duplicated()]

Empty DataFrame
Columns: [ID, time, RR, VO2, power]
Index: []

In [89]:
# Check for duplicate rows
data_Triathlon[data_Triathlon.duplicated()]

Empty DataFrame
Columns: [ID, time, RR, VO2, power]
Index: []

In [93]:
# Check for duplicate rows
data_Fencing[data_Fencing.duplicated()]

Empty DataFrame
Columns: [ID, time, RR, VO2, power]
Index: []

In [171]:
#merging all the dataframes
merged_df = data_Athletes.merge(data_Kayaking, on='ID', how='left')

In [173]:
merged_df

,ID,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,Last Name,time,RR,VO2,power
0,1,15,53.7,161,50,140,fencing,Female,African,Olivia,Martinez,NaN,NaN,NaN,NaN
1,2,15,56.2,162,80,127,fencing,Male,African,Ethan,Reynolds,NaN,NaN,NaN,NaN
2,3,16,89.9,191,155,300,fencing,Male,White,Jackson,Harper,NaN,NaN,NaN,NaN
3,4,16,76.5,180,215,275,fencing,Male,White,Liam,Sanchez,NaN,NaN,NaN,NaN
4,5,17,76.4,186,110,172,fencing,Female,White,Ava,Thompson,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19485,16,16,70.4,182,79,175,kayak,Male,Latino,Logan,Anderson,1119.484,540.0,0.671957,0.0
19486,16,16,70.4,182,79,175,kayak,Male,Latino,Logan,Anderson,1120.016,532.0,0.671957,0.0
19487,16,16,70.4,182,79,175,kayak,Male,Latino,Logan,Anderson,1120.544,528.0,0.671957,0.0
19488,17,12,39.9,156,101,145,triathlon,Male,Latino,Lucas,Foster,NaN,NaN,NaN,NaN
19489,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,NaN,NaN,NaN,NaN

In [179]:
merged_df = merged_df.merge(data_Triathlon, on='ID', how='left' )

In [181]:
merged_df

,ID,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,Last Name,time_x,RR_x,VO2_x,power_x,time_y,RR_y,VO2_y,power_y
0,1,15,53.7,161,50,140,fencing,Female,African,Olivia,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,15,56.2,162,80,127,fencing,Male,African,Ethan,Reynolds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,16,89.9,191,155,300,fencing,Male,White,Jackson,Harper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,16,76.5,180,215,275,fencing,Male,White,Liam,Sanchez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,17,76.4,186,110,172,fencing,Female,White,Ava,Thompson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24464,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,NaN,NaN,NaN,NaN,947.288,536.0,0.507071,0.0
24465,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,NaN,NaN,NaN,NaN,947.816,528.0,0.507071,0.0
24466,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,NaN,NaN,NaN,NaN,948.344,528.0,0.507071,0.0
24467,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,NaN,NaN,NaN,NaN,948.884,540.0,0.507071,0.0
24468,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,NaN,NaN,NaN,NaN,949.424,540.0,0.507071,0.0

In [183]:
merged_df = merged_df.merge(data_Fencing, on='ID', how='left' )

In [185]:
merged_df

,ID,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,...,VO2_x,power_x,time_y,RR_y,VO2_y,power_y,time,RR,VO2,power
0,1,15,53.7,161,50,140,fencing,Female,African,Olivia,...,NaN,NaN,NaN,NaN,NaN,NaN,-130.840,672.0,0.302008,0.0
1,1,15,53.7,161,50,140,fencing,Female,African,Olivia,...,NaN,NaN,NaN,NaN,NaN,NaN,-130.168,672.0,0.302008,0.0
2,1,15,53.7,161,50,140,fencing,Female,African,Olivia,...,NaN,NaN,NaN,NaN,NaN,NaN,-129.536,632.0,0.301336,0.0
3,1,15,53.7,161,50,140,fencing,Female,African,Olivia,...,NaN,NaN,NaN,NaN,NaN,NaN,-128.824,712.0,0.301336,0.0
4,1,15,53.7,161,50,140,fencing,Female,African,Olivia,...,NaN,NaN,NaN,NaN,NaN,NaN,-127.948,876.0,0.301336,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52057,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,...,NaN,NaN,947.288,536.0,0.507071,0.0,NaN,NaN,NaN,NaN
52058,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,...,NaN,NaN,947.816,528.0,0.507071,0.0,NaN,NaN,NaN,NaN
52059,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,...,NaN,NaN,948.344,528.0,0.507071,0.0,NaN,NaN,NaN,NaN
52060,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,...,NaN,NaN,948.884,540.0,0.507071,0.0,NaN,NaN,NaN,NaN
52061,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,...,NaN,NaN,949.424,540.0,0.507071,0.0,NaN,NaN,NaN,NaN

In [195]:
# Select the required columns
columns_to_keep = ['ID', 'time', 'power', 'RR', 'VO2']

In [197]:
final_df = merged_df[columns_to_keep]

In [199]:
final_df

       ID     time  power     RR       VO2
0       1 -130.840    0.0  672.0  0.302008
1       1 -130.168    0.0  672.0  0.302008
2       1 -129.536    0.0  632.0  0.301336
3       1 -128.824    0.0  712.0  0.301336
4       1 -127.948    0.0  876.0  0.301336
...    ..      ...    ...    ...       ...
52057  18      NaN    NaN    NaN       NaN
52058  18      NaN    NaN    NaN       NaN
52059  18      NaN    NaN    NaN       NaN
52060  18      NaN    NaN    NaN       NaN
52061  18      NaN    NaN    NaN       NaN

[52062 rows x 5 columns]

In [203]:
output_file = 'merged_athletes_data.xlsx'
final_df.to_excel(output_file, index=False)